html, body{
    height: 100%;
    width: auto;
    margin:0;
    background-color: #303030;
}
a, p, h1, h2, h3, h4, h5{
    color: #fff!important;
}
.row{
    margin:0;
}
.backgroundColor{
    background-color: #424242;
}
.wallpaperPp{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.navIcon{
    margin-left: 100px;
    width: 70px;
    height: auto;
}
.navText{
    margin-left: 50px;
    font-size: 30px;
    font-family: 'Secular One', sans-serif;
}
.txtDiscord{
    font-size: 19px;
    margin-top: 15px;
    text-align: center;
}
.sobreAmong{
    font-size: 18px;
    text-align: center;
}
.divOque{
    height: 100%;
    width: auto;
}